body
{
    background-color:white;
}

#canvas
{
    border: 1px solid black;
    display: block;
    margin: 0 auto;
    background: black;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}

#gameArea
{
    display: none;
}

#winning
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: dodgerblue;
    text-align: center;
}

button
{
    background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
    background-color:#fe1a00;
    border-radius:28px;
    border:1px solid #d83526;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    padding:17px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #b23e35;
}

button:hover
{
    background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
    background-color:#ce0100;
}

button:active
{
    position:relative;
    top:1px;
}

button:disabled,
button[disabled]
{
    background:linear-gradient(to bottom, #aaaaaa 5%, #cccccc 100%);
    background-color:#aaaaaa;
    border: 1px solid #020202;
    background-color: #cccccc;
    color: #666666;
    text-shadow:0px 1px 0px #666666;
}


#howto
{
    border: 1px solid black;
    border-radius: 5px;
    width: 40%;
    font-family: Verdana;
    margin: auto;
}

#userName
{
    border-radius: 10px;
    height: 150%;
}

#userRoom
{
    border-radius: 10px;
    height: 150%;
}

#userForm
{
    text-align: center;
}

.welcomeInfo
{
    color: Black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

#playerWelcome
{
    font-weight: bold;
}

#userRoom
{
    width: 40px;
}